.inventory {
    position: absolute;
    left: calc(100% - 450px);
    top: 10%;
    width: 344px;
    height: 520px;
    background-color: rgb(27, 27, 27);
    border: solid 4px black;
    border-radius: 10px;
    align-items: center;

}

.inventory-container {
    width: 344px;
    height: 512px;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    overflow: auto;
}

.sota {
    display: block;
    position: relative;
    // background-color: chocolate;
    width: 64px;
    height: 64px;
    border: 1px solid black;
    box-sizing: border-box;
    align-content: right;
    justify-content: end;
}

.sota-img {
    position: absolute;
}

.sota-count {
    // display: 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;

    position: absolute;
    bottom: 5px;
    z-index: 1;
    right: 5px;
}