.inventory {
    position: absolute;
    left: calc(100% - 400px);
    top: 10%;
    width: 300px;
    height: 500px;
    background-color: rgb(27, 27, 27);
    border: solid 4px black;
    border-radius: 10px;
}