@import "./inventory.scss";

html, body {
    width: 100%;
    height: 100%;
}



.gameDiv {
    width: 100%;
    height: 100%;
}

#BuildPanel {
    display: flex;

    .item {
        width: 64px;
        height: 64px;
        border: solid 5px silver;
        margin: 10px;
        background: rgb(66, 66, 66);
        border-radius: 50px;
    }
}

#GUI {
    // z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
 
    .window {
        display: none;
        padding: 20px;
        position: absolute;
        background: rgba(39, 39, 39, 0.438);
        text-align: center;
        vertical-align: middle;
        border-bottom: silver 4px solid;
    }

    .window-m {
        width: 200px;
        height: 100px;
    }

    button {
        width: 80px;
        height: 30px;
        margin: 6px;
    }

    .button-red {
        background-color: red;
    }

    .plus-icon {
        width: 40px;
        height: 40px;
        font-size: 25px;
        font-weight: 800;
        background: rgb(32, 32, 32);
        border: 0;
        color: white;
        border-bottom: rgb(124, 124, 124) 2px solid;
        transition: 0.2s;
    }

    .minus-icon {
        width: 40px;
        height: 40px;
        font-size: 25px;
        font-weight: 800;
        background: rgb(32, 32, 32);
        border: 0;
        color: white;
        border-bottom: rgb(124, 124, 124) 2px solid;
        transition: 0.2s;
    }

    .minus-icon:hover, .plus-icon:hover {
        border-bottom: rgb(52, 224, 0) 2px solid;
    }

    .label-m {
        color: rgb(255, 255, 255);
        font-size: 18px;
        padding: 6px;
    }
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.gameDiv {
    width: 100%;
    height: 100%;
    position: relative;
}

#BuildPanel {
    position: absolute;
    width: 100%;
    height: 300px;
    background: rgba(10, 10, 10, 0.2);
    bottom: 0;
}

canvas {
    position: absolute;
    /* background-color: rgb(216, 182, 120); */
    /* background-color: rgb(56, 196, 37);
     */

    background-color: white;
    image-rendering: pixelated;
}

.player-abilities {
    width: 700px;
    height: 100px;
    position: absolute;
    display: flex;
    bottom: 20px;
    left: calc(100% / 2 - 350px);
    justify-content: center;
}

.ability {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    background-size: cover;
    margin-right: 30px;
    /* background-image: url(assets/empty-ability-icon.png); */
}

.show-inventory-button {
    position: absolute;
    image-rendering: pixelated;
    background-size: cover;
    right: 30px;
    top: 100px;
    width: 64px;
    height: 64px;
}

.show-ability-tree-button {
    position: absolute;
    image-rendering: pixelated;
    background-size: cover;
    right: 30px;
    top: 170px;
    width: 48px;
    height: 48px;
}

.hp-bar {
    position: absolute;
    image-rendering: pixelated;
    background-size: cover;
    top: 50px;
    left: 20px;
    width: 207px;
    height: 27px;
}